@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body,
html {
    height: 100%;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.bg {
    /* background: url(https://files.catbox.moe/0ud7y6.jpg); */
    background: url(./bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dock {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.button {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    scale: 1.05;
}
